# Database
DATABASE_URL="postgresql://user:password@localhost:5432/user_db?schema=public"

# JWT
JWT_SECRET=""

# CORS
CORS_ORIGIN="http://localhost:3001"

# Admin seed
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# Resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

# Hotmart Webhook
HOTMART_HOTTOK=""